<div class="row" style="top-margin: 120px;">
    <div class="col-xs-12 col-sm-8 col-md-3">
        <div class="panel panel-default">
                    <div class="panel-body">{{first_name}}</div>
                    <div class="panel-body">{{profile_pic}}</div>
                    // INSERT BOOTSTRAP IMAGE FORMAT
                    <div class="panel-body">{{tag_line}}</div>
                </div>
                <form id="profileForm "action="" method="get>"
                  <div class="panel">
                      <div class="panel-heading panels">
                          <h3 class="panel-title">What Kind of Evening are You Interested In?</h3>
                          <h4>0 (Fireside Chat) - 5 (Passed-out Naked)</h4>
                      </div>
                      <div class="panel-body">
                          <input id="range1" type="range" min="0" max="5" value="5" step="1"/>
                      </div>
                      <div class="panel-heading">
                          <h3 class="panel-title">What Are You Doing Now?</h3>
                          <h4>0 (Mellowing) - 5 (Considering Vegas)</h4>
                      </div>
                      <div class="panel-body">
                          <input id="range2" type="range" min="0" max="5" value="5" step="1"/>
                      </div>
                      <div class="panel-heading">
                          <h3 class="panel-title">What Kind of Spender Are You?</h3>
                          <h4>0 (Baller-on-a-Budget) - 5 (High Roller)</h4>
                      </div>
                      <div class="panel-body">
                          <input id="range3" type="range" min="0" max="5" value="5" step="1" />
                      </div>
                      <div class="panel-heading">
                          <h3 class="panel-title">What are your safety concerns?</h3>
                          <h4>0 (My Body is a Temple) - 5 (Guns a' Blazing)</h4>
                      </div>
                      <div class="panel-body">
                          <input id="range4" type="range" min="0" max="5" value="5" step="1" />
                      </div>
                      <div class="panel-body">
                        <input class="submit" type="submit">
                      </div>
                </div>
      </form>
  </div>
</div>
